<mat-toolbar color="primary">
    <div>
        <h2>WoW Pugster</h2>
    </div>
    <div>
        <nav mat-tab-nav-bar color="accent" backgroundColor="primary">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.href" routerLinkActive
                #rla="routerLinkActive" [active]="rla.isActive">
                {{link.name}}
            </a>
        </nav>
    </div>
    <div class="account-menu">
        <ng-container *ngIf="user && init">
            <button mat-button [matMenuTriggerFor]="accountMenu">
                <span style="padding-right: .5rem;">{{user.displayName}}</span>
                <mat-icon>person</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="!user && init">
            <button mat-button (click)="authService.googleSignin()">Login with Google</button>
        </ng-container>
    </div>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav [opened]="true" mode="side" [disableClose]="true" style="width: 200px;">
        <mat-toolbar color="primary"
            style="height: 100%; display: grid; padding: 0px; grid-template-rows: 1fr auto; grid-template-columns: 1fr; align-items: flex-start;">
            <mat-nav-list>
                <a mat-list-item routerLink="/">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <span matLine>Home</span>
                </a>
                <a mat-list-item routerLink="/event/list" disabled>
                    <mat-icon mat-list-icon>event</mat-icon>
                    <span matLine>Events</span>
                    <button mat-icon-button (click)="openEventDialog(); $event.preventDefault();" *ngIf="user">
                        <mat-icon>add_circle_outline</mat-icon>

                    </button>
                </a>
                <a mat-list-item routerLink="/rightmate">
                    <mat-icon mat-list-icon>whatshot</mat-icon>
                    <span matLine>Rightmate</span>
                </a>
            </mat-nav-list>
            <small style="text-align: center;">
                Made by <br /> <span style="color: var(--Rogue);">Kaelnir - Gehennas</span>
            </small>
        </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <main [@fadeAnimation]="getRouterOutletState(o)">
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>



<mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="authService.signOut()">Logout</button>
</mat-menu>

<ng-template #Login>

</ng-template>
<!-- <a href="#" data-wowhead="item=2828">hai</a> -->