
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
    $font-family: 'Dosis, sans-serif',
    $headline: mat-typography-level(28px, 36px, 600),
    $title: mat-typography-level(24px, 30px, 600),
    $subheading-1: mat-typography-level(16px, 24px, 600),
    $subheading-2: mat-typography-level(14px, 16px, 400),
    $body-1: mat-typography-level(16px, 24px, 300),
    $body-2: mat-typography-level(16px, 24px, 600),
    $button: mat-typography-level(16px, 24px, 400)
);

@include mat-core($custom-typography);

$primary: (
    50: lighten(rgb(24, 53, 95), 50%),
    100: lighten(rgb(24, 53, 95), 40%),
    200: lighten(rgb(24, 53, 95), 30%),
    300: lighten(rgb(24, 53, 95), 20%),
    400: lighten(rgb(24, 53, 95), 10%),
    500: rgb(24, 53, 95),
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$accent: (
    50: lighten(rgb(199, 145, 11), 50%),
    100: lighten(rgb(199, 145, 11), 40%),
    200: lighten(rgb(199, 145, 11), 30%),
    300: lighten(rgb(199, 145, 11), 20%),
    400: lighten(rgb(199, 145, 11), 10%),
    500: rgb(199, 145, 11),
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wow-wishlist-primary: mat-palette($primary);
$wow-wishlist-accent: mat-palette($accent);

// The warn palette is optional (defaults to red).
$wow-wishlist-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wow-wishlist-theme: mat-light-theme($wow-wishlist-primary, $wow-wishlist-accent, $wow-wishlist-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wow-wishlist-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #f0f0f0;}
body { margin: 0; font-family: 'Dosis', sans-serif; }

:root {
    --POOR: #9d9d9d;
    --COMMON: #ffffff;
    --UNCOMMON: #1eff00;
    --RARE: #0070dd;
    --EPIC: #a335ee;
    --LEGENDARY: #ff8000;

    --Druid: #FF7D0A;
    --Hunter: #A9D271;
    --Mage: #40C7EB;
    --Paladin: #F58CBA;
    --Priest: #FFFFFF;
    --Rogue: #FFF569;
    --Shaman: #0070DE;
    --Warlock: #8787ED;
    --Warrior: #C79C6E;
}

@mixin icon-size($size) {
    height: $size !important;
    width: $size !important;
    line-height: $size !important;
    font-size: $size !important;
}

.mat-flat-button {
    .mat-icon {
        padding-left: .5rem;
        @include icon-size(22px);
    }
}

.icon-small {
    @include icon-size(20px);
    vertical-align: text-bottom;
}

.mat-list-item-disabled {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgba(0, 0, 0, 0.2) !important;
}

ngx-material-timepicker-container {
    position: relative;
    z-index: 999999;
}

